@import 'tailwindcss';
@import './theme.css';
@import "tw-animate-css";


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.4;
  }
}

