@source "./components/ui/**/*.tsx";

@layer base {
	* {
		@apply border-border;
	}

	html,
	body,
	#root {
		height: 100%;
	}

	body {
		@apply bg-background text-foreground;
	}

	input,
	textarea,
	[contenteditable="true"],
	[contenteditable=""] {
		@apply select-text;
	}

	input::placeholder,
	textarea::placeholder {
		opacity: 0.4;
	}
}

.drag-region {
	-webkit-app-region: drag;
	app-region: drag;
}

.no-drag {
	-webkit-app-region: no-drag;
	app-region: no-drag;
}
