name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        platform: [windows, macos, linux]
    uses: ./.github/workflows/build.yml
    with:
      platform: ${{ matrix.platform }}
