name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    uses: ./.github/workflows/build.yml
    with:
      platform: windows

  build-macos:
    uses: ./.github/workflows/build.yml
    with:
      platform: macos

  build-linux:
    uses: ./.github/workflows/build.yml
    with:
      platform: linux
