name: Build and Release Electron App

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    strategy:
      matrix:
        platform: [windows, macos, linux]
    uses: ./.github/workflows/build.yml
    with:
      platform: ${{ matrix.platform }}
      upload_artifacts: true

  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            dist/*.exe
            dist/*.zip
            dist/*.dmg
            dist/*.AppImage
            dist/*.snap
            dist/*.deb
            dist/*.rpm
            dist/*.tar.gz
            dist/*.yml
            dist/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
